.addHomeBtn{
	color: white;
	width: 96.77vmin;
	height: 64.51vmin;
	background-color: #2f2f2f;
	background-image: url(../../img/MyHome/addHomeBtn.png);
	background-size: cover;
	border-radius: 2vmin;
	margin: 0 auto;
	margin-top: 2vmin;
}

.listState {
    position: absolute;
    width: 19.35vmin;
    height: 19.35vmin;
    border: 1.21vmin solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 6vmin;
    top: -4.5vmin;
    right: -1vmin;
    padding-top: 6vmin;
    margin-right: -10px;
    -webkit-transform: rotate(45deg);
    opacity: 0.5;
}

.homeListDiv {
    position: relative;
    overflow: hidden;
    /* width: 98%; */
    /* height: 12vmin; */
    width: 96.78vmin;
    min-width: 300px;
    /* height: 44.28vmin; */
   min-height: 64.51vmin;
    background-position: right;
    
    background: url(../../img/MyHome/myHomeCardBgImg.png) no-repeat, -webkit-linear-gradient(right,#d31027,#d31027,#ea384d);
    background-size: cover;
    margin: 0 auto;
    margin-top: 2vmin;
    border-radius: 1vmin;
    padding: 2.41vmin 3.23vmin;
    color: white;
}


.carListDiv{
	position: relative;
    overflow: hidden;
    /* width: 98%; */
    /* height: 12vmin; */
    width: 96.78vmin;
    min-width: 300px;
    /* height: 44.28vmin; */
   min-height: 64.51vmin;
    background-position: right;
    
    background: url(../../img/MyHome/myCarCardBgImg.png) no-repeat, -webkit-linear-gradient(right,#d31027,#d31027,#ea384d);
    background-size: cover;
    margin: 0 auto;
    margin-top: 2vmin;
    border-radius: 1vmin;
    padding: 2.41vmin 3.23vmin;
    color: white;
}
.listIcon {
    margin-bottom: 12vmin !important;
   
    
}
.homeTypeBox{
	overflow: hidden;
}
.listTitle{
	font-size: 8.054vmin;
	line-height: 12.1vmin;
	margin-bottom: 0;
    width: 68.55vmin;
    float: left;
    height: 12vmin;
    overflow: hidden;
}
.homeType{
	float: right;
	margin-right: 8.064vmin;
	padding-top: 4.03vmin;
	font-size: 5vmin;
}
.listDisc{
	font-size: 4.03vmin;
	width: 68.55vmin;
	margin-bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	height: inherit;
}
.disMarBt{
	margin-bottom: 12.9vmin;
}
.dateDiv{
	overflow: hidden;
}
.starBox{
	float: left;
	
}
.listDate{
	float: right;
}
.oneStar{
	width: 2.58vmin;
	height: 2.42vmin;
	float: left;
	margin-right: 0.8vmin;
	margin-top: -1.3vmin;
}
.imgClass{
	width: 100%;
	height: 100%;
}
.imgClassHalf{
	height: 100%;
	width: 50%;
}
