body{
	background-color: black;
	font-family: "微软雅黑";
	color: white;
}
.bodyBox{
	position: relative;
	/*height: 98vmax;*/
	width: 96.78vmin;
	 min-width: 300px;
    min-height: 98vh;
    height: 159vmin;
	margin: 0 auto;
	background-color: rgb(211, 16, 39);
	background-image: url(../../img/HomeCom/commentBgImg.png);
	background-repeat: no-repeat;
	background-size:cover;
	margin-top: 1vmax;
	border-radius: 2vmin;
	/*padding-bottom: 12.1vmin;*/
}
.comTitle{
	
	
	text-align: center;
	padding:  4.8vmin 4.84vmin 0 4.84vmin;
	font-size: 6.05vmin;
	line-height: 9vmin;
}
.starBox{
	margin-left: 13.71vmin;
	/*margin: 0 auto;*/
	margin-top: 8.87vmin;
}
.starLi{
	overflow: hidden;
	margin-bottom: 4.44vmin;
	/*padding-left: 5vmin;*/
	line-height: 7.258vmin;
	
}
.liName{
	float: left;
	margin-right: 8.87vmin;
	font-size: 4vmin;
} 
.liStar{
	float: left;
	font-size: 4vmin;
}
.clearMar{
	margin-bottom: 0 !important;
}
.comInput{
	position: absolute;
	background-color: #000000;
	height: 30vmin;
	width:73.65vmin;
	opacity: 0.25;
	padding: 3.23vmin;
} 
.commentContent{
	
	font-family: "微软雅黑";
	font-size: 3.5vmin;
	height: 30vmin;
	width:73.65vmin;
	margin-bottom: 0;
	border: 0;
	line-height: 4vmin;
	opacity: 1.5;
	outline:none;resize:none;
	color: white;
	background-color:transparent;

	
}
.comTextArea{
	position: absolute;
	z-index: 99;
	padding: 3.23vmin;
}
.comBox{
	position: relative;
	margin-bottom: 10vmin;
	width: 80.65vmin;
	margin-left: 8.065vmin;
	margin-top: 6.85vmin;
}
.SubBtn{
	position: absolute;
	bottom: 0;
	background-color: #870A18;
	width: 100%;
	left: 0;
	text-align: center;
	border-bottom-left-radius: 2vmin;
	border-bottom-right-radius: 2vmin;
	padding: 4.03vmin 0 4.03vmin 0;
	font-size: 3.63vmin;
}
.starDiv{

	width: 7.58vmin;
	height: 7.258vmin;
	float: left;
	margin-right: 2.42vmin;
}

.clearStar{
	margin-right: 0 !important;
}
.imgClass{
	width: 100%;
	height: 100%;
}

/*弹出框*/
.popDiv{
	position: absolute;
	width: 61.29vmin;
	/*padding: 8.06vmin 0 8.06vmin 0;*/
	height: 19.2vmin;
	text-align: center;
	background-color: #000000;
	opacity: 0.5;
	border-radius: 2vmin;
	
}
.textClear{
	position: absolute;
	width: 61.29vmin;
	padding: 7.5vmin 0 8vmin 0;
	font-size: 3.23vmin;
	height: 19.2vmin;
	text-align: center;
	
}
.popMask{
	position: fixed;
	display: none;
	width: 61.29vmin;
	height: 19.2vmin;
	z-index: 999;
	top: 40%;
	left: 50%;
	margin-top: -9.6vmin;
	margin-left: -30.65vmin;
}